

@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,500,600,700&f[]=satoshi@300,400,500,700&display=swap');
@import "tailwindcss";
/* 2. DEFINE FONTS GLOBALLY */
:root {
  --font-display: 'Kanit', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



/* body {
    background-color: var(--color-black-rich);
    color: white;
    font-family: var(--font-sans);
} */

/* Apply Kanit to headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    /* Kanit looks best with a slightly tighter tracking */
    letter-spacing: 0.02em; 
}


.font-black {
    font-weight: 900; 
}